*{
    margin: 5px;
}
#header p a {
  text-decoration: none;
}

body {
  background-color: #c0e3eb;
}
table,
#header {
  padding: 5px;
}
#edu {
  height: 200px;
  width: 400px;
  border: 1px solid red;
  border-collapse: collapse;
  text-align: center;
}
th{
    background-color: rgb(48, 92, 93);
    color: #fff;
}
img{
    border: 2px solid black;
}             alt="Mayur Profile"
              width="100px"
              height="100px"
            />
          </td>
          <td>
            <p>
              I am a student of Nit Trichy Pursuing MCA with Computer
              Applications stream. I secured All India Rank 52 in NIMCET-2022.
            </p>
          </td>
        </tr>
      </table>
      <br>
      <div id="education">
        <h2>Education</h2>
        <table id="edu" border="1">
          <tr>
            <th>Degree</th>
            <th>University/College</th>
            <th>Passing Year</th>
          </tr>
          <tr>
            <td>MCA</td>
            <td>Nit Trichy</td>
            <td>2025</td>
          </tr>
          <tr>
            <td>BCA</td>
            <td>RPL Maheshwari college</td>
            <td>2022</td>
          </tr>
        </table>
      </div>
<br>
      <div id="projects">
        <h2>Projects</h2>
        <ul>
          <li>
            <h3>QUIZ App:         Jan 2023</h3>
            The ‘Quiz Application’ project developed to overcome the Time Consuming problem of manual 
system. Apart from that in current system, checking the answer sheets after taking test, waste the 
examiners time, so this application will check the correct answer and save the examiner time and carry 
the examination in an effective manner. The users which are use this system don’t need to high 
computing knowledge and also system will inform them while entering invalid data. 
          </li>
          <li>
            <h3>Result Management System:        Mar 2023 </h3>
            <p>
              The main objective of the project is to provide the examination result to the student in a simple way. 
This project is useful for students and institutions for getting the results in simple manner. By a result 
analyzer with subject status and marks is an application tool for displaying the results and take print 
out of the result.
            </p>
          </li>
        </ul>
      </div>
<br>
      <div id="skills">
        <h2>Skills</h2>
        <ul>
          <li>C</li>
          <li>C++</li>
          <li>Python</li>
          <li>Java(Basic)</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>SQL</li>
        </ul>
      </div>
    </div>
  </body>
</html>